Flask==3.0.3
Flask_Executor==1.0.0
Flask_SocketIO==5.3.6
mediapipe==0.10.14
numpy==1.26.4
openai==1.33.0
opencv_contrib_python==4.10.0.82
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
python-dotenv==1.0.1
python-socketio==5.11.2
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.32.3
tenacity==8.3.0
tinydb==4.8.0
watchdog==4.0.1
