@import url("buttons/toggleButton.css");
@import url("chat/messages.css");
@import url("chat/chatHistory.css");
@import url("window/style.css");

* {
    -main-bg-1: #22262D;
    -main-bg-2: #D3D2D5;
    -main-bg-3: #56B3CA;
    -main-bg-4: #ffffff;
}