.label{
  background-color: #f0f0f0;
  -fx-background-color:purple;
  -fx-text-fill:#e0e0e0;
  -fx-background-radius: 10px;
  -fx-padding: 10px;

}

.messages-assistant{
    -fx-background-color: #293038;
}

.messages-user{
    -fx-background-color: #012b5b;
}
