.label{
  -fx-text-fill: -main-bg-1;
  -fx-background-radius: 10px;
  -fx-padding: 10px;
}

.messages-assistant{
    -fx-background-color: -main-bg-3;
}

.messages-user{
    -fx-background-color: -main-bg-2;
}
