.label{
  background-color: #f0f0f0;
  -fx-background-color:purple;
  -fx-text-fill:white;
  -fx-background-radius: 10px;
  -fx-padding: 10px;

}

.messages-assistant{
    -fx-background-color: -color-accent-7;
}

.messages-user{
    -fx-background-color: -color-success-7;
}
