.toggle-button {
  -fx-background-radius: 100;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  -fx-min-width: 50px;
  -fx-min-height: 50px;
  -fx-max-width: 50px;
  -fx-max-height: 50px;
  -fx-background-color: #141414;
  -fx-border-color: #e0e0e0;
  -fx-border-radius: 100;
}