#titleBar {
    -fx-background-color: -main-bg-1;
    -fx-padding: 10px;
    -fx-border-color: transparent transparent derive(-main-bg-2, 20%) transparent; /* Color del borde inferior */
}

.ikonli-font-icon {
    -fx-icon-color: -main-bg-1;
}

#titleBar .ikonli-font-icon {
    -fx-icon-color: -main-bg-2;
}

.button {
    -fx-background-color: -main-bg-1;
    -fx-border-radius: 15;
}

.button:hover {
    -fx-background-color: derive(-main-bg-1,20%);
}

.bodyApp {
    -fx-background-color: -main-bg-1;
}

.scroll-bar:vertical {
    -fx-background-color: -main-bg-1;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -main-bg-4; /* Cambia el color del thumb a blanco */
}

.scroll-bar:vertical .track {
    -fx-background-color: -main-bg-1; /* Cambia el color de la pista del scroll */
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: -main-bg-4; /* Cambia el color de los botones de incremento y decremento */
}

#inputTxt{
    -fx-background-color: -main-bg-3;
    -fx-border-radius: 15;
    -fx-text-fill: -main-bg-1;
}

#btnSendMessage{
    -fx-background-color: -main-bg-2;
    -fx-border-radius: 15;
}

/* Linea alrededor de la pantalla principal*/
#MainContainer {
    -fx-border-color: derive(-main-bg-1, 90%);
    -fx-border-width: 0.5;
    -fx-border-radius: 10;
}