#titleBar {
    -fx-background-color: -main-bg-1;
    -fx-padding: 10px;
    -fx-border-color: transparent transparent -main-bg-2 transparent; /* Color del borde inferior */
}

.button {
    -fx-background-color: -main-bg-1;
    -fx-border-radius: 15;
}
/*
#userInputBox > * {
    -fx-background-color: -main-bg-1;
    -fx-border-radius: 15;
}
*/

.font-icon {
    -fx-fill: -main-bg-4;
}

.button:hover {
    -fx-background-color: -main-bg-1;
}

.bodyApp {
    -fx-background-color: -main-bg-1;
}

.scroll-bar:vertical {
    -fx-background-color: -main-bg-1;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -main-bg-4; /* Cambia el color del thumb a blanco */
}

.scroll-bar:vertical .track {
    -fx-background-color: -main-bg-1; /* Cambia el color de la pista del scroll */
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: -main-bg-4; /* Cambia el color de los botones de incremento y decremento */
}

#inputTxt{
    -fx-background-color: -main-bg-3;
    -fx-border-radius: 15;
}

#btnSendMessage{
    -fx-background-color: -main-bg-2;
    -fx-border-radius: 15;
}
